@model IEnumerable<TPDojoBO.Samourai>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des samouraïs</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau samouraï", "Create","" , htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Force)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    @if (item.Arme != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Arme.Nom)
        </td>
    }
    else
    {
        <td>
        </td>
    }
<td>
    @if (item.ArtMartials != null)
    {
        @*int i = 0;
            for (i=0; i < item.ArtMartials.Count - 1; i++)
            {
                @Html.DisplayFor(modelItem => item.ArtMartials.ElementAt(i).Nom)<br />
            }*@

        foreach (var artMartial in item.ArtMartials)
        {
            @Html.DisplayFor(modelItem => artMartial.Nom)<br />
        }
    }
</td>
        

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
    </td>
    </tr>
}

</table>
