@model IEnumerable<TPDojoBO.Samourai>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des samouraïs</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau samouraï", "Create","" , htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potentiel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Force)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    @if (item.Arme != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Arme.Nom)
        </td>
    }
    else
    {
        <td>
        </td>
    }
    <td>
        @if (item.ArtMartials.Count > 0)
        {
            foreach (var artMartial in item.ArtMartials)
                {
                    @Html.DisplayFor(modelItem => artMartial.Nom)<br />
                }
        }
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Potentiel)
    </td>

    <td>
        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Détails", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
    </td>
    </tr>
}

</table>
